---
layout: base.njk
title: O mnie
---

<!-- CONTENT -->

<h1 class="page-title">{{ title }}</h1>

<div class="about-txt">
    <p>Stworzyłem tą stronę, aby mieć pod ręką wszystkie moje ulubione przepisy, które gromadziłem przez lata
    i mam je zapisane w różnych miejscach. Raczej nie potrzebuję przepisów co i jak zrobić, ale zwykle nie pamiętam
    wszystkich składnikó i ich proporcji</p></br><p>Nie jestem autorem prezentowanych
    tu przepisów. Nie tworzę ich od podstaw, bazuję na recepturach innych osób,
    które modyfikuję według własnego uznania, dopasowując je do swoich upodobań,
    dostępnych składników lub prostszych rozwiązań. Zawsze staram się wskazać
    autora oryginalnego przepisu lub podać link do źródła, z którego
    korzystałem.</p></br><p>Nie ma ambicji konkurowania z profesjonalnymi
    serwisami kulinarnymi ani ich zastępowania. To raczej osobisty zbiór
    sprawdzonych pomysłów, do których sam chętnie wracam. Jeśli jednak ktoś tu
    trafi przypadkiem i znajdzie coś dla siebie będzie mi bardzo miło. A jeśli
    któreś z przepisów stanie się inspiracją do własnych kulinarnych
    eksperymentów, tym lepiej. Smacznego!</p>
</div>

<p class="write-me">Masz pytania, uwagi lub sugestie? -
    <a
        href="mailto:wmazurak@gmail.com?subject=Wiadomość%20ze%20strony%20farfalle.pl"
        target="_blank"
        >Napisz do mnie</a
    >
</p>
