---
layout: base.njk
title: O mnie
permalink: /o-mnie/
description: Dlaczego powstało Farfalle.pl? Poznaj autora i dowiedz się, jak tworzę moją kolekcję ulubionych przepisów. Zapraszam do wspólnego gotowania i eksperymentowania!
---

<!-- CONTENT -->

<div class="container">

<div class="page-title">
    <h1>{{ title }}</h1>
    <p>Dlaczego powstało Farfalle.pl?</p>
</div>

<div class="about-txt">

<p>Stworzyłem tę stronę, żeby mieć w jednym miejscu wszystkie moje ulubione przepisy zbierane przez lata.
Mam je porozrzucane po notatkach, plikach i zakładkach. Zwykle nie zapominam jak coś zrobić,
tylko jakie były składniki i w jakich proporcjach.</p>

<p>Nie jestem autorem większości przepisów. Bazuję na recepturach innych osób i po prostu dopasowuję je pod siebie. Czasem coś upraszczam,
czasem zamieniam składniki na takie, które akurat mam pod ręką. Zawsze staram się podać autora albo link do źródła,
z którego korzystałem.</p>

<p>Przy okazji od dawna chciałem zrobić własną stronę i ją rozwijać. Jeśli ktoś też o tym myśli to serio,
da się to ogarnąć całkowicie za darmo (no chyba że chcesz własną domenę).</p>

<p>Jeżeli ktoś tu trafi i znajdzie coś dla siebie, będzie mi bardzo miło.
A jeśli któryś przepis stanie się inspiracją do własnych eksperymentów, to jeszcze lepiej.</p>

<p><i>Smacznego!</i></p>
</div>

<p class="write-me">Masz pytania, uwagi lub sugestie? -
    <a
        href="mailto:wmazurak@gmail.com?subject=Wiadomość%20ze%20strony%20farfalle.pl"
        target="_blank"
        >Napisz do mnie</a
    >
</p>

</div>
