---
layout: base.njk
title: Wypieki
permalink: /wypieki/
description: Domowe wypieki na każdą okazję! Odkryj przepisy na puszysty sernik, chrupiący chleb żytni, pizzę i widowiskowe Dutch Baby. Upiecz coś pysznego z Farfalle.pl!
---

<!-- CONTENT -->

<div class="page-title">
    <h1>{{ title }}</h1>
    <p>No Gluten No Fun. Czyli jak upiec chleb żytni na zakwasie lub Dutch Baby!</p>
</div>

<section class="card-grid">
    {% for recipe in collections.wypieki %}
    <article class="card">
        <h2 class="card-title">{{ recipe.data.title }}</h2>
        <a href="{{ recipe.url }}" class="card-media">
            <img
                src="/public/img/{{ recipe.data.image }}"
                alt="{{ recipe.data.title }}"
                loading="lazy"
            />
        </a>
    </article>
    {% endfor %}
</section>
