---
layout: base.njk
title: Wypieki
seo_title: Wypieki, chleb, desery | Farfalle
permalink: /wypieki/
seo_description: No gluten no fun! - czyli przepisy na prosty sernik, chrupiący chleb, pizzę czy widowiskowe Dutch Baby.
---

<!-- CONTENT -->

<section class="card-grid">
    {% for recipe in collections.wypieki %}
        {% include "partials/card_grid.njk" %}
    {% endfor %}
</section>
