---
layout: base.njk
title: Przepisy
description: proste przepisy na dania wegańskie, makarony, wypieki, chleb i potrawy z całego świata.
---

<!-- CONTENT -->

<h1 class="page-title">{{ title }}</h1>

<section class="card-grid">
    {% for recipe in collections.recipes %}
    <article class="card">
        <a href="{{ recipe.url }}" class="card-media">
            <img
                src="/public/img/{{ recipe.data.image }}"
                alt="{{ recipe.data.title }}"
                fetchpriority="high"
                decoding="async">
        </a>
        <h3 class="card-title">{{ recipe.data.title }}</h3>
    </article>
    {% endfor %}
</section>
