---
layout: base.njk
title: Przepisy
seo_description: Proste przepisy na dania wegańskie, makarony, wypieki, chleb i potrawy z całego świata.
---

<!-- CONTENT -->

<section class="card-grid">
    {% for recipe in collections.recipes | sort(attribute='data.date') %}
        {% include "partials/card_grid.njk" %}
    {% endfor %}
</section>
