---
layout: base.njk
title: Vege
seo_title: Przepisy wegetariańskie | Farfalle
permalink: /vege/
seo_description: Przpisy wegatariańskie - czyli dobrze jest czasem odpocząć od mięsa.
---

<!-- CONTENT -->

<section class="card-grid">
    {% for recipe in collections.vege %}
        {% include "partials/card_grid.njk" %}
    {% endfor %}
</section>
