*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

/*GENERAL*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: "Montserrat", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)),
        url("/public/img/bckgr.webp") center center / cover no-repeat;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

/*HEADER*/

.site-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: var(--side-padding);

    h1 {
        font-family: "Imperial Script", cursive;
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
    }
}

nav {
    display: flex;
    gap: 1rem;

    a:hover {
        color: #007bff;
    }
}

.nav-checkbox {
    display: none; /* Hide the actual checkbox */
}

.nav-toggle {
    display: none; /* Hide toggle on desktop */
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.page-title {
    padding-inline: var(--side-padding);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/*INDEX, WYPIEKI, VEGE*/

.card {
    display: flex;
    flex-direction: column;
    background: rgb(237, 237, 237, 0.9);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    :hover {
        transform: scale(1.02);
        transition: transform 0.3s ease-in-out;
    }
}

.card-grid {
    display: grid;
    gap: 2rem;

    grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--min-col-size), 100%), 1fr)
    );

    padding-inline: var(--side-padding);
}

.card-media {
    display: flex;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    padding-block: 1rem;
    padding-inline: var(--side-padding);
}

/*RECIPE*/

.recipe {
    display: flex;
    flex-direction: column;
    background: rgb(237, 237, 237, 0.9);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.recipe-hero {
    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--min-col-size), 100%), 1fr)
    );

    p {
        align-self: center;
        justify-self: center;
        padding: 1rem 1rem;
        text-indent: 1.5em;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 6px;
    }
}

.recipe-description {
    padding: 1rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 2;
    }

    ul li:first-child,
    ul li:last-child {
        font-weight: bold;
        padding: 1rem;
    }

    p {
        padding-bottom: 1rem;
        text-indent: 1.5em;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 6px;
    }
}

/*ABOUT*/

.about-txt {
    padding-inline: var(--side-padding);
    text-indent: 1.5em;
}

.write-me {
    padding-top: 3rem;
    padding-inline: var(--side-padding);

    a:hover {
        color: #007bff;
    }
}

footer {
    background: rgb(235, 235, 235, 0.9);
    /*color: #ffffff;*/
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0.5rem 0;

    p {
        margin: 0;
    }
}

/* Responsive Mobile Styles */
@media (max-width: 768px) {
    body::before {
        content: "";
        position: fixed;
        inset: 0;
        background:
            linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7)),
            url("/public/img/bckgr.webp") top left / cover no-repeat;
        z-index: -1;
    }

    .nav-toggle {
        display: block; /* Show hamburger on mobile */
    }

    .nav {
        display: none; /* Hide menu by default */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #f9f9f9;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);

        a {
            margin: 10px 0;
            display: block;
        }
    }

    /* The "Magic": When checkbox is checked, show the nav */
    .nav-checkbox:checked ~ .nav {
        display: flex;
    }
}
