:root {
    --color-logo: hotpink;
    --min-col-size: 280px; /*recipe-grid*/
}

a {
    color: inherit; /* Przejmuje kolor od rodzica */
    text-decoration: none; /* Usuwa podkreślenie */
    cursor: pointer;
}
