<!doctype html>
<html lang="pl">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <meta name="description" content="{{ description }}">
      <meta name="robots" content="index, follow" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">

      <link rel="icon" href="/public/img/favicon.png" type="image/png" />

      <link rel="stylesheet" href="/public/css/style.css" />

      <script src="/public/js/script.js" defer></script>

      <title>Farfalle | {{ title }}</title>
    </head>

    <body>

        <header class="main-header">
            <div class="container">
                <a class="logo" href="/">farfalle</a>
                <input type="checkbox" id="nav-checkbox" class="nav-checkbox" />
                <label
                    for="nav-checkbox"
                    class="nav-toggle"
                    aria-label="Toggle navigation"
                >
                    ☰
                </label>
                <nav class="nav">
                    <a href="/">Przepisy</a>
                    <a href="/wypieki">Wypieki</a>
                    <a href="/vege">Vege</a>
                    <a href="/o-mnie">O mnie</a>
                </nav>
            </div>
        </header>

        <main>{{ content | safe }}</main>

        <footer>
            <p>&copy; 2026 Farfalle - Wiesław Mazurak</p>
        </footer>
    </body>
</html>
